.secao {
	float: left;
	width: 100%;
}
.mini {
	float: left;
	width: 50%;
}
.container{
	max-width: 1200px;/*Limitando Responsivisidade em telas maiores a 1200px*/
	margin: 0 auto;/*metodo de centralização*/
}
.logo, .secao {
	padding: 0 1%;/*atribundo beleza com relação ao espaçamento do conteudo de cada elemento*/
}
.img {
	max-width: 100%;
}
.logo,
.busca,
.barra-nav,
.menu-principal {
	display: inline-block;
	vertical-align: middle;
}
.menu-principal li {
	float: left;
}

header {
	padding: 0.5em 0;
}
.destaques {
	margin-top: 1em;
}
.barra-nav {
	margin: 0.4em 0;
}
@media (min-width: 600px) {
	html {
		font-size: 1.125em;
	}
	.secao {
		width: 50%;
	}

}
/*esse efeito so será visível quando a tela tiver no máximo 600px de largura ou abaixo*/
@media (max-width: 600px) {
	/*aplicando css no menu estilo telas menores*/
	.barra-nav {
        background: #f0f0f0;
        padding: 1em;
        margin: 0;

        height: 100%;
        width: 90%;
        max-width: 320px;

        position: fixed;
        z-index: 1;
        top: 0;
        left: -90%;

        transition: left 0.3s ease-out;
    }
    .menu-ativo .barra-nav {
        left: 0;
    }

    .menu-principal li {
        padding: 1em 0;
        width: 100%;
    }
    /*adcionando fundo escuro transparente*/
    .menu-ativo:after {
        content: "";
        display: block;

        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background: rgba(0,0,0,0.4);
    }
    /*fim menu estilo telas menores*/
}
@media (min-width: 1000px) {
	html {
		font-size: 1.25em;
	}
	.secao {
		width: 33.333%;
	}
}
/*escondendo os botões quando a tela for maior que 600px*/
@media not all and (max-width: 600px) {
    .menu-abrir,
    .menu-fechar {
        display: none;
    }    
}