/* CAPITULO 0 */


/* ex 1 */
.secao {
	float: left;
	width: 33.333%;
}

/* ex 2 */
.mini {
	float: left;
	width: 50%;
}


/* CAPITULO 1 */

/* ex 3 */
.container{
	margin: 0 auto;
	max-width: 1200px;
}
.destaques {
	margin-top: 1em;
}
.logo,
.menu-principal,
.secao {
	padding: 0 1%;
}

/* ex 4 */
img {
	max-width: 100%;
}


/* ex 5 */
.busca {
	display: inline-block;
	vertical-align: middle;

	max-width: 500px;
}
	.busca input {
		width: 75%;
	}
	.busca button {
		width: 25%;
	}