/* CAPITULO 2 */

/* ex 1 */
@media (min-width: 600px) {
	html {
		font-size: 1.125em;
	}
}
@media (min-width: 1000px) {
	html {
		font-size: 1.25em;
	}
}

/* ex 2 */
.secao {
	width: 100%;
}

@media (min-width: 600px) {
	.secao {
		width: 50%;
	}
}
@media (min-width: 1000px) {
	.secao {
		width: 33.333%;
	}
}