/* CAPITULO 4 */

@media (max-width: 600px) {

	/* ex1 menu  */
	.menu-principal {
		position: absolute;
		top: 0;
		left: -90%;
		transition: left 0.3s ease-out;

		background: #f0f0f0;
		padding: 5em 1em 1em;

		height: 100%;
		width: 90%;
		max-width: 320px;
	}
		.menu-ativo .menu-principal {
			left: 0;
			z-index: 1;
		}

	.menu-principal li {
		width: 100%;
	}


	/* ex2 opcional background cinza */
	html:after {
		content: "";
		display: none;

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		background: rgba(0,0,0,0.4);
	}
		html.menu-ativo:after {
			display: block;
		}


}

/* ex3 esconder o botão no desktop */
@media (min-width: 601px) {
	.menu-controle {
		display: none;
	}	
}
